*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');

}

html,body{
  margin: 0;
  /* background-color: #f1fff0; */
  padding: 0;
  font-family: 'Montserrat';

}

li{
  list-style-type: none;
}

#block-pass-login{
  width: 295px;
  height: auto;
  /* border: 1px solid black; */
  background-color: white;
  margin: 300px auto;
}

#pass-login li{
  margin-top: 30px;
}

#pass-login label{
  font-size: 15px;
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}

#pass-login input{
  padding-left: 5px;
  width: 200px;
  height: 25px;
  margin-left: 75px;
  border: 1px solid #cdcdff;
  font-size: 18px;
}



#submit_enter{
  border: 1px solid #cdcdff;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 6px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

#fmsg{
  color: red;
  padding: 10px 15px;
  background-color: #FDE5E0;
  margin-top: 0;
}
